{% extends 'base.html' %}

{% block main %}
    {% block title %}
        {% if exemplos %}
            <h1>Lista de Exemplos</h1>
        {% else %}
            <h1>Exemplos não cadastrados</h1>
    {% endif %}
    {% endblock title %}

    {% if exemplos %}
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Código</th>
                <th>Nome</th>
                <th>Ações Funções</th>
                <th>Ações Classes</th>
            </thead>
            <tbody>
            {% if perms.aula.add_exemplo %}
            <a class="btn btn-outline-success btn-lg" role="button"
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="Criar com Funções"
               href="{% url 'aula:exemplo_function_create' %}">
                <i class="bi bi-plus"></i> </a>
            {% endif %}

            {% if perms.aula.add_exemplo %}
            <a class="btn btn-outline-success btn-lg" role="button" style="margin: 0 15px"
               data-bs-toggle="tooltip" data-bs-placement="top"
               title="Criar com Classe"
               href="{% url 'aula:exemplo_classe_create' %}">
                <i class="bi bi-plus"></i> </a>
            {% endif %}

            {% for exemplo in exemplos %}
                <tr>
                    <td>{{ exemplo.id }}</td>
                    <td>{{ exemplo.cod }}</td>
                    <td>{{ exemplo.nome }}</td>
                    <td>
                        <div>
                            {% if perms.aula.view_exemplo %}
                            <a class="btn btn-outline-light btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Detalhar com Funções"
                               href="{% url 'aula:exemplo_function_read' exemplo.id %}">
                                <i class="bi bi-card-list"></i> </a>
                            {% endif %}

                            {% if perms.aula.change_exemplo %}
                            <a class="btn btn-outline-primary btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Editar com Funções"
                               href="{% url 'aula:exemplo_function_update' exemplo.id %}">
                                <i class="bi bi-pencil-square"></i> </a>
                            {% endif %}

                            {% if perms.aula.generate_code_exemplo %}
                            <a class="btn btn-outline-warning btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Gerar codigo com Funções"
                               href="{% url 'aula:exemplo_function_generate_code' exemplo.id %}">
                                <i class="bi bi-arrow-repeat"></i> </a>
                            {% endif %}

                            {% if perms.aula.delete_exemplo %}
                            <a class="btn btn-outline-danger btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Deletar com Funções"
                               href="{% url 'aula:exemplo_function_delete' exemplo.id %}">
                                <i class="bi bi-trash"></i> </a>
                            {% endif %}

                        </div>
                    </td>
                    <td>
                        <div>
                            {% if perms.aula.view_exemplo %}
                            <a class="btn btn-outline-light btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Detalhar com Classe"
                               href="{% url 'aula:exemplo_classe_read' exemplo.id %}">
                                <i class="bi bi-card-list"></i> </a>
                            {% endif %}

                            {% if perms.aula.change_exemplo %}
                            <a class="btn btn-outline-primary btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Editar com Funções"
                               href="{% url 'aula:exemplo_classe_update' exemplo.id %}">
                                <i class="bi bi-pencil-square"></i> </a>
                            {% endif %}

                            {% if perms.aula.generate_code_exemplo %}
                            <a class="btn btn-outline-warning btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Gerar codigo com Classe"
                               href="{% url 'aula:exemplo_classe_generate_code' exemplo.id %}">
                                <i class="bi bi-arrow-repeat"></i> </a>
                            {% endif %}

                            {% if perms.aula.delete_exemplo %}
                            <a class="btn btn-outline-danger btn-lg" role="button"
                               data-bs-toggle="tooltip" data-bs-placement="top"
                               title="Deletar com Classe"
                               href="{% url 'aula:exemplo_classe_delete' exemplo.id %}">
                                <i class="bi bi-trash"></i> </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock main %}