{% extends 'base.html' %}

{% block main %}
    {% block title %}
      <h1>{{ exemplo.nome|capfirst }}</h1>
    {% endblock title %}
    {% block content %}
      <div class="content">
        <div class="row">
          <strong>Código: </strong> <p>{{ exemplo.cod }}</p>
          <strong>Nome: </strong> <p>{{ exemplo.nome|capfirst }}</p>
        </div>
      </div>
      <div>
        <a class="btn btn-outline-light btn-lg" role="button" href="{% url 'aula:exemplo_class_list' %}">
          <i class="bi bi-arrow-left"></i>  Voltar</a>
      </div>
    {% endblock content %}
{% endblock main %}