{% extends "minimal.html" %}
{% block menu %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DEV_1_2025</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">URL's estaticas</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'aula:Primeira_View' %}">Primeira View</a></li>
            <li><a class="dropdown-item" href="{% url 'aula:Saudacao' %}">Saudação</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Aula</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'aula:exemplo_function_list' %}">Lista com função</a></li>
            <li><a class="dropdown-item" href="{% url 'aula:exemplo_class_list' %}">Lista com classe</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Contato</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'class_contact' %}">Classe</a></li>
          </ul>
        </li>

      </ul>
        {% if user.is_authenticated %}
          <span class="navbar-text text-white px-2">Olá, {{ user.first_name }}</span>
            <div class="me-2"></div>
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
              <button class="btn btn-outline-danger btn" role="button" type="submit">
                <i class="bi bi-box-arrow-in-left"></i>
              </button>
          </form>
        {% else %}
          <a class="btn btn-outline-primary btn" role="button" href="{% url 'login' %}" style="margin: 0 15px">
            <i class="bi bi-box-arrow-in-right"></i>
          </a>
        {% endif %}

      <form action="{% url 'Search' %}" method="get" class="d-flex" role="search">
        {% csrf_token %}
        <input name="query" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success btn" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
</nav>

{% endblock menu %}